<header class="header">
  <div class="header-left">
    <a href="/index.html" class="logo-container">
        <img
          src="/imgs/logos/game_haven_logo.svg"
          alt="GameHaven Logo"
          class="logo"
        />
      <span class="site-title">GameHaven</span>
    </a>
    <nav class="nav">
      <a href="/index.html" class="nav-link">Усі ігри</a>
      <a href="#" class="nav-link">Блог</a>
    </nav>
  </div>

  <div class="header-right">
    <div class="search-bar">
      <img src="/imgs/utils/search.svg" alt="Search" class="search-icon" />
      <input type="text" placeholder="Search" class="search-input" />
    </div>
    <a href="#" class="profile-link">
      <img
        src="/imgs/utils/profile.png"
        alt="Profile"
        class="profile-image"
      />
    </a>
  </div>
</header>
