.header{
width: 100%;
height: 121px;
left: 0px;
top: 0px;
background: #F2F1ED;
}

.search-container{
    display: flex;
width: 252px;
height: 35px;
left: 191px;
top: 43px;
background: #C8C8C8;
border-radius: 12px;
}

.search-icon{
width: 14px;
height: 14px;
left: 415px;
top: 53px;
background: url(searchmagnifierinterfacesymbol1_79893.png);
}

.shop-section{
width: 145px;
height: 57px;
left: 478px;
top: 35px;
background: #C4D2EC;
border-radius: 20px;
}

.shop-icon{
width: 26.88px;
height: 28px;
left: 485px;
top: 49px;
background: url(2849824-basket-buy-market-multimedia-shop-shopping-store_107977.png);
}

.news-section{
width: 145px;
height: 57px;
background: #C4D2EC;
border-radius: 20px;
}

.news-text{
width: 93px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
border: 1px solid #948F8F;
}

.games-section{
width: 145px;
height: 57px;
background: #C4D2EC;
border-radius: 20px;
}

.games-text{
width: 94px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
border: 1px solid #948F8F;
}

.blog-section{
width: 145px;
height: 57px;
left: 972px;
top: 34px;
background: #C4D2EC;
border-radius: 20px;
}

.blog-text{
width: 56px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
border: 1px solid #948F8F;
}

.login-section{
width: 119px;
height: 39px;
left: 1158px;
top: 15px;
background: #C4D2EC;
border-radius: 10px;
}

.login-text{
width: 62px;
height: 19px;
left: 1190px;
top: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
}

.sign-up-section{
width: 128px;
height: 39px;
left: 1298px;
top: 14px;
background: #5E77F5;
border-radius: 10px;
}

.sign-up-text{
width: 99px;
height: 22px;
left: 1316px;
top: 23px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #000000;
}